*.toc
*.snm
*.out
*.nav
*.aux
*.synctex.gz
*.log
fig_slides/
fig_slides/*
*.mp4
auto/
*.csv
flathub/*
playground/.ipynb_checkpoints/*
.ipynb_checkpoints/*
playground/orion/*
orion.zip
*.fits
*.pdfpc
with_notes.*